/*
Custom Css
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
}

#img-container{
    z-index : 1;
    max-width: 500px;
    position: relative;
}

#lens{
    z-index : 2;
    position: absolute;
    height:100px;
    width:100px;
    border:2px solid black;
    border-radius: 75px;
    cursor: none; 
}