<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>

<form action="" method="POST">

    {% csrf_token %}

    <div class="mb-2">

        <label>First Name : </label>{{form.first_name}}
        <label>Last Name : </label>{{form.last_name}}

    </div>

    <div class="mb-2">
        <label>Email Id :</label>{{form.email}}
        <label>Mobie Number</label>{{form.mobile_number}}
    </div>

      <div class="mb-2">
          <label>Password :</label>{{form.password1}}
          <label>Confirm password:</label>{{form.password2}}
    </div>

      <div class="mb-2">
        <input type="submit" value="Register">
      </div>

      <div class="messages">

          {% for message in messages %}
            {{message}}
          {% endfor %}

      </div>


</form>

</body>
</html>