{% extends 'owner/base.html' %} 

{% block title %}Category Manager{% endblock %}  


{% block content %}
{% load static %} 

<div class="main">
    <div class="page-title text-center mt-3 mb-3">
        <h5>Category List</h5>
    </div>

    <div class="message-wrapper text-center mb-2">
        {% for message in messages %}  
            <p>{{message}}</p>
        {% endfor %}
    </div>

    <div>

        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Add New Category
            </button>
            <ul class="dropdown-menu">
              <li>
                <form enctype="multipart/form-data" action="#" method="POST">
                    {% csrf_token %}
                    {{form}}
                    <input class="btn btn-sm btn-success" type="submit" value="Add">
                </form>
                    

              </li>
            </ul>
          </div>



    </div>


    <div >
        <table class="table">
            <tr>
                <th>Category Image</th>
                <th>Category Name</th>
                <th>Actions</th>
            </tr>

            {% for item in items %}

            <tr>
                <td>
                    {% if item.category_image|default_if_none:'' %}
                    <img src="{{item.category_image.url}}" style="height:100px;" alt="category image">
                    {% endif %}
                </td>
                <td>{{item.category_name}}</td>
                <td>
                    <div class="mb-2">
                        <a href="{% url 'editcategory' item.category_id %}">
                            <img src="{% static 'images/edit.png' %}" alt="editbutton" style="height:25px;">
                          </a>    
                    </div>
                                    
                    <input type="image" src="{% static 'images/delete.png' %}" onclick="deleteCategory()" id="deletecategory-btn"
                    data-url="{% url 'delcategory' item.category_id %}" style="height:25px;">
                </td>  
                
            </tr>    

            {% endfor %}
        </table>
    </div>


</div>




{% endblock %}