{% extends 'owner/base.html' %} 


{% block title %}Edit Category{% endblock %} 


{% block content %}  

<div class="main">

    
    <div class="message-wrapper text-center mb-2">
        {% for message in messages %}  
            {{message}}
        {% endfor %}
    </div>

    <form enctype="multipart/form-data" action="#" method="POST">
        
        {% csrf_token %}
        {{form}}
        <input class="btn btn-sm btn-secondary" type="submit" value="Update">
    </form>
</div>



{% endblock %}