{% extends 'owner/base.html' %}
    {% load static %}

    {% block title %} Dashboard {% endblock %} 

    {% block content %}
        <!-- Content Start -->
        <div class="wrapper">
            <div class="messages">
                {% for message in messages %}
                <div class="alert alert-danger" role="alert">
                    {{message}}
                  </div>
                {% endfor %}
            </div>
        <div class="pt-4" id="calendar-filter">
                <form id="filter-form">
                    <span class="ms-4"><strong>Filter By : </strong></span>
                    <input type="date" name="from_date" id="from_date"><span> to </span>
                    <input type="date" name="to_date" id="to_date">                
                    <button class="btn btn-sm btn-primary" type="submit">Apply Filter</button>         
                </form>
                <h5 class="mt-3 mb-2 ms-4 text-primary text-center">Showing data from <span id="from_dateText">{{from_date}}</span> to <span id="to_dateText">{{to_date}}</span> </>    
            </div>
             
            <!-- Sale & Revenue Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-8 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-line fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Today's Order</p>
                                <h6 class="mb-0" id="todayOrder">0</h6>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="day-orders" value="{{day_orders}}">
                    <input type="hidden" id="day-delivered" value="{{day_delivery}}">
                    <div class="col-sm-4 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-bar fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Period Order</p>
                                <h6 class="mb-0" id="monthly_order">0</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-area fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Today's Revenue</p>
                                <h6 class="mb-0">₹ <span id="todays-revenue"></span></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-pie fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Period Revenue</p>
                                <h6 class="mb-0">₹ <span id="monthrev">0</span></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sale & Revenue End -->


            <!-- Sales Chart Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light text-center rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Monthly Sales</h6>              
                            </div>
                            <canvas id="worldwide-sales" data-url="{% url 'chart' %}"></canvas>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light text-center rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Period Accounts</h6>
                            </div>
                            <canvas id="salse-revenue" data-url="{% url 'chart' %}"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sales Chart End -->
    
    <script>
        
    </script>        
   {% endblock %}         