{% extends 'owner/base.html' %}  

{% block title %} Edit Product Attribute {% endblock %}  


{% block content %}
{% load crispy_forms_tags%}
{% load static %} 
<div class="main">

    <div class="page-title text-center mt-5 mb-3">
        <h5>Edit Product Attribute</h5>
    </div>
    
    <div class="message-wrapper text-center mb-2">
        {% for message in messages %}  
        <div class="alert alert-warning" role="alert">
            {{message}}
          </div>
        {% endfor %}
    </div>


<div class="table-wrapper">
    <div class="container-fluid pt-4 px-4">
        <form enctype="multipart/form-data" action="" method="POST">
            {% csrf_token %}
            {{form|crispy}}
            <input type="submit" class="btn btn-primary" value="Update">
        </form>
</div>
</div>

{% endblock %}