{% extends 'owner/base.html' %} 

{% block title %}Order Manager{% endblock %}  


{% block content %}
{% load static %}



<style>
    .d-flex{
        gap:10px;
    }
</style>

<div class="main ms-4 me-4">
    <div class="page-title text-center mt-3 mb-5">
        <h5>Order List</h5>
    </div>

    <div class="message-wrapper text-center mb-2">
        {% for message in messages %}  
        <div class="alert alert-warning" role="alert">
            {{message}}
          </div>
        {% endfor %}
    </div>

    <div class="container-fluid pt-4 px-4">
        <div class="bg-light text-center rounded p-4">
            <div class="table-responsive">
                <table class="table text-start align-middle table-bordered table-hover mb-0">
                    <thead>
                        <tr class="text-dark">
                            <th scope="col">Tracking No</th>
                            <th scope="col">Order Date</th>
                            <th scope="col">Customer</th>
                            <th scope="col">Total</th>
                            <th scope="col">Tax</th>
                            <th scope="col">Shipping Charges</th>
                            <th scope="col">Grand Total</th>
                            <th scope="col">Payment Mode</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in orders %}
                        <tr>
                            <td>{{item.tracking_no}}</td>
                            <td >{{item.created_at.date}}</td>
                            <td>{{item.email}}</td>
                            <td>₹{{item.price_before_tax}}</td>
                            <td>₹{{item.tax_amount}}</td>
                            <td>₹{{item.ship_amount}}</td>
                            <td>₹{{item.total_price}}</td>
                            <td>{{item.payment_mode}}</td>
                            <td>{{item.status}}</td>
                            <td>
                                <div class="d-flex justify-content-between">
                                    <div class="mb-2">
                                        <a href="{% url 'order-edit' item.id %}" title="Edit Order">
                                            <img src="{% static 'images/edit.png' %}" alt="editbutton" style="height:25px;">
                                          </a>    
                                    </div>
            
                                    <div class="mb-2">
                                        
                                    <input type="image" src="{% static 'images/delete.png' %}" onclick="deleteOrder()" id="deleteOrder-btn"
                                        data-url="{% url 'order-delete' item.id %}" style="height:25px;" title="Delete Order">
                                    </div>
            
                                    <div class="mb-2">
                                        <a href="{% url 'order-info' item.id %}" title="Order Items">
                                            <img src="{% static 'images/info.png' %}" alt="infobutton" style="height:25px;">
                                          </a>     
                                    </div>
            
                                </div>
                                
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    
{% endblock %}