{% extends 'owner/base.html' %} 

{% block title %}Order Manager{% endblock %}  


{% block content %}
{% load static %}



<style>
    .d-flex{
        gap:10px;
    }
</style>

<div class="main ms-4 me-4">
    <div class="page-title text-center mt-3 mb-5">
        <h5>Order List</h5>
    </div>

    <div class="message-wrapper text-center mb-2">
        {% for message in messages %}  
            <p>{{message}}</p>
        {% endfor %}
    </div>

    <div>
        <table class="table">
            <tr>
                <th class="text-primary">Tracking No</th>
                <th class="text-primary">Order Date</th> 
                <th class="text-primary">Ordered by</th>
                <th class="text-primary">Order Status</th>
                <th class="text-primary">Total</th>
                <th class="text-primary">Tax</th>
                <th class="text-primary">Shipping Charges</th>
                <th class="text-primary">Grand Total</th>
                <th class="text-primary">Payment Mode</th>
                <th class="text-primary">Actions</th>
            </tr>

            {% for item in orders %}

            <tr>
                <td class="text-dark">
                    <strong>{{item.tracking_no}}</strong>
                </td>
                <td class="text-dark">{{item.created_at}}</td>
                <td class="text-dark">{{item.email}}</td>
                <td class="text-dark">{{item.status}}</td>
                <td class="text-dark">{{item.price_before_tax}}</td>
                <td class="text-dark">{{item.tax_amount}}</td>
                <td class="text-dark">{{item.ship_amount}}</td>
                <td class="text-dark">{{item.total_price}}</td>
                <td class="text-dark">{{item.payment_mode}}</td>
                <td class="text-dark">
                    <div class="d-flex justify-content-between">
                        <div class="mb-2">
                            <a href="{% url 'order-edit' item.id %}">
                                <img src="{% static 'images/edit.png' %}" alt="editbutton" style="height:25px;">
                              </a>    
                        </div>

                        <div class="mb-2">
                            
                        <input type="image" src="{% static 'images/delete.png' %}" onclick="deleteOrder()" id="deleteOrder-btn"
                            data-url="{% url 'order-delete' item.id %}" style="height:25px;">
                        </div>

                        <div class="mb-2">
                            <a href="{% url 'order-info' item.id %}">
                                <img src="{% static 'images/info.png' %}" alt="infobutton" style="height:25px;">
                              </a>    
                        </div>

                    </div>
                    
                </td>  
                
            </tr>    

            {% endfor %}
        </table>
    </div>


</div>

{% endblock %}