{% extends 'owner/base.html' %} 

{% block title %}Order Manager{% endblock %}  


{% block content %}
{% load static %} 

<div class="main ms-4 me-4">
    <div class="page-title text-center mt-3 mb-3">
        <h5>Order List</h5>
    </div>

    <div class="message-wrapper text-center mb-2">
        {% for message in messages %}  
            <p>{{message}}</p>
        {% endfor %}
    </div>

    <div >
        <table class="table">
            <tr>
                <th>Order Id</th>
                <th>Order Date</th> 
                <th>Order Modified</th>
                <th>Tracking No</th>
                <th>Ordered by</th>
                <th>Payment Mode</th>
                <th>Total</th>
                <th>Order Status</th>
                <th>Actions</th>
            </tr>

            {% for item in orders %}

            <tr>
                <td>{{item.id}}</td>
                <td>{{item.created_at}}</td>
                <td>{{item.updated_at}}</td>
                <td>{{item.tracking_no}}</td>
                <td>{{item.email}}</td>
                <td>{{item.payment_mode}}</td>
                <td>{{item.total_price}}</td>
                <td>{{item.status}}</td>
                <td>
                    <div class="mb-2">
                        <a href="{% url 'order-edit' item.id %}">
                            <img src="{% static 'images/edit.png' %}" alt="editbutton" style="height:25px;">
                          </a>    
                    </div>
                                    
                    <input type="image" src="{% static 'images/delete.png' %}" onclick="deleteCategory()" id="deletecategory-btn"
                    data-url="" style="height:25px;">
                </td>  
                
            </tr>    

            {% endfor %}
        </table>
    </div>


</div>




{% endblock %}