<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Owner Sign In</title>
</head>
<body>

<div class="messages">
  {% for message in messages %}
    {{message}}
  {% endfor %}
</div>

<form action="" method="POST">

  {% csrf_token %}

  <div class="mb-3">
    <label for="adminuser">Email Id : </label>
    <input type="email" id="adminuser" name="adminuser">
  </div>

  <div class="mb-3">
    <label for="adminpass">Password : </label>
    <input type="password" id="adminpass" name="adminpass">
  </div>

  <div class="mb-3">
    <input type="submit" value="Enter">
  </div>

</form>


</body>
</html>