{% extends 'owner/base.html' %}  

{% block title %} Landing Page Manager {% endblock %}  


{% block content %}
{% load crispy_forms_tags %}
{% load static %} 
<div class="main">
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Banner</h1>  
          
        </div>
        <div class="modal-body">
            <form enctype="multipart/form-data" action="" method="POST" >
                {% csrf_token %}
                {{banner_form|crispy}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
    </form>
      </div>
    </div>
  </div>


  <div class="modal fade" id="exampleModal-2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Select Featured Products</h1>  
          
        </div>
        <div class="modal-body">
            <form enctype="multipart/form-data" action="{% url 'selectFeat' %}" method="POST" >
                {% csrf_token %}
                {% for item in product %}
                    <div id="pro">
                        <input type="checkbox" name="proIn" id="proIn" value="{{item.product_id}}">
                        <label for="proIn">{{item.slug}}</label>
                    </div>
                {% endfor %}    
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
    </form>
      </div>
    </div>
  </div>





    <div class="page-title text-center mt-5 mb-3">
        <h5>Landing Page Manager</h5>
    </div>
    
    <div class="message-wrapper text-center mb-2">
        {% for message in messages %}  
        <div class="alert alert-warning" role="alert">
            {{message}}
          </div>
        {% endfor %}
    </div>

    <div class="ms-4">
    
        <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal-2">
            Select Featured Products
        </button>
        <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Add Banner
        </button>
     
    </div>

    <div class="container-fluid mt-3">
        <div class="bg-light text-center rounded p-4">
            <div class="table-responsive">
                <table class="table text-start align-middle table-bordered table-hover mb-0">
                    <thead>
                        <tr class="text-dark">
                            <th class="text-center" style="background-color:white;" scope="col">Banner Name</th>
                            <th class="text-center" style="background-color:white;" scope="col">Banner Image</th>
                            <th class="text-center" style="background-color:white;" scope="col">Banner Heading</th>
                            <th class="text-center" style="background-color:white;" scope="col">Banner Link</th>
                            <th class="text-center" style="background-color:white;" scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in banner %}
                        <tr id="row">
                            <td>{{item.banner_name}}</td>
                            <td style="min-width: 20opx;"><img src="{{item.banner_image.url}}" alt="banner-image" style="width:50px;" ></td>
                            <td>{{item.banner_head}}</td>
                            <td>{{item.banner_link}}</td>
                            <td>
                                <div class="d-flex">
                                    <div class="mb-2">
                                                 
                                        <a href="{% url 'edit-Banner' item.banner_id %}" title="Edit Banner" class="me-3">
                                            <img src="{% static 'images/edit.png' %}" alt="editbutton" style="height:25px;">
                                          </a> 
                                    </div>
            
                                    <div class="mb-2">
                                        
                                    <input type="image" src="{% static 'images/delete.png' %}" onclick="deleteBanner(passId='{{item.banner_id}}')" id="deleteBanner-btn"
                                        data-url="" style="height:25px;" title="Delete Order">
                                    </div>
            
                                </div>
                                
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


<script>

  
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
const csrftoken = getCookie('csrftoken');


  function deleteBanner(passId){
    var endpoint = '{% url "delete-Banner" %}'
    $.ajax({
      method: "POST",
      url:endpoint,
      data: {
        'banner_id':passId,
        csrfmiddlewaretoken:csrftoken,
      },
      success: function (response) {
        alert(response.status)
        location.reload()
      },

      error:function (response) {
        alert(response.errorX)
        }
    });
  }
</script>

{% endblock %}