{% extends 'owner/base.html' %}  

{% block title %} Landing Page Manager {% endblock %}  


{% block content %}
{% load crispy_forms_tags %}
{% load static %} 
<div class="main">
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Banner</h1>  
          
        </div>
        <div class="modal-body">
            <form enctype="multipart/form-data" action="" method="POST" >
                {% csrf_token %}
                {{form|crispy}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
    </form>
      </div>
    </div>
  </div>

    <div class="page-title text-center mt-5 mb-3">
        <h5>Landing Page Manager</h5>
    </div>
    
    <div class="message-wrapper text-center mb-2">
        {% for message in messages %}  
        <div class="alert alert-warning" role="alert">
            {{message}}
          </div>
        {% endfor %}
    </div>

    <div class="ms-4">
        <button>Edit Featured Products</button>
        <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Edit Banner
        </button>
    </div>


{% endblock %}