{% extends 'owner/base.html' %}  

{% block title %} Product Manager {% endblock %}  


{% block content %}
{% load static %} 
<div class="main">

    <div class="page-title text-center mb-3">
        <h5>Product List</h5>
    </div>
    
    <div class="message-wrapper text-center mb-2">
        {% for message in messages %}  
            {{message}}
        {% endfor %}
    </div>

    
<table class="table">
    <div class="table-buttons d-flex justify-content-between mb-3">
        <div class="button-left">
            <a href="{% url 'productadd' %}" style="color:black;"><img src="{% static 'images/plus.png' %}" alt="plus button" style="height:16px;"> Add Product</a>
        </div>
        <div class="button-right">
            <a href="" onclick="window.location.reload()"><img src="{% static 'images/refresh.png' %}" alt="refresh button" style="height:16px;"></a>
        </div>
    </div>

    <tr>
        <th>Product</th>
        <th>Product Image</th>
        <th>Description</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Actions</th>
    </tr>

    {% for item in products %}

        <tr>
            <td>
                <strong><p>{{item.product_name}} {{item.generation}} {{item.series}}</p></strong>
                
                <div class="product-details mt-2 ms-2">
                    <p>Color : {{item.color}}</p>
                    <p>Internal Memory : {{item.internal_storage}}</p>
                    <p>Category : {{item.category}}</p>
                    <p>Condition : {{item.condition}}</p>
                </div>
            </td>
            <td>
                {% if item.images %}
                <img src="{{item.images.url}}" alt="item-image" id="product-image-owner">
                {% else %} 
                {{"No Image"}}
                {% endif %}
            </td>
            <td>{{item.description}}</td>
            <td>
                {% if item.quantity == 0 %}
                    {{'Out of Stock'}}
                {% else %}    
                    {{item.quantity}}
                {% endif %}

            </td>
            <td>{{item.price}}</td>
            <td>
                <div class="mb-2">
                    <a href="{% url 'producteditor' item.product_id %}">
                        <img src="{% static 'images/edit.png' %}" alt="editbutton" style="height:25px;">
                    </a>    
                </div>
                                
                <input type="image" src="{% static 'images/delete.png' %}" onclick="deleteProduct()" id="deleteproduct-btn"
                data-url="{% url 'productdelete' item.product_id %}" style="height:25px;">
            </td>
            
        </tr>

    {% endfor %}


</table>
  <!-- Modal -->
 <!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      
    </div>
  </div>
  --->  

{% endblock %}