{% extends 'owner/base.html' %}

{% block title %}Product Manager {% endblock %}


{% block content %}  

    <section>

        <div class="main text-center mt-2">

                <h1>Product Management</h1>
                
                <table class="table table-striped mt-5" id="producttable">
                    <tr>
                        <th class="table-primary">Image</th>
                        <th class="table-primary">Item Name</th>
                        <th class="table-primary">Category</th>
                        <th class="table-primary">Price</th>
                        <th class="table-primary">Quantity</th>
                        <th class="table-primary">Description</th>
                        <th class="table-primary">Out of Stock</th>
                        <th class="table-primary">Action</th>
                    </tr>
        
                    {% for item in items %}
                        <tr>
                            <td>
                                {% if item.images %}
                                    <img src ="{{item.images.url}}" alt="item-image" style="height:100px;">
                                {% else %}  
                                    <p>No image</p>                           
                                {% endif %}
                            </td>
                            <td>{{item}}</td>
                            <td>{{item.category}}</td>
                            <td>{{item.price}}</td>
                            <td>{{item.quantity}}</td>
                            <td>{{item.description}}</td>
                            <td>{{item.is_out_of_stock}}</td>
                            <td>
                                <a class="btn btn-success" href="{% url 'producteditor' item.product_id%}">Edit</a>
                            </td>
        
                        </tr>
                    {% endfor %}
        
        
                </table>
        


        </div>    

    </section>

{% endblock %}