{% extends 'owner/base.html' %}  

{% block title %} Product Manager {% endblock %}  


{% block content %}
{% load static %} 
<div class="main">

    <div class="page-title text-center mt-5 mb-3">
        <h5>Product List</h5>
    </div>
    
    <div class="message-wrapper text-center mb-2">
        {% for message in messages %}  
        <div class="alert alert-warning" role="alert">
            {{message}}
          </div>
        {% endfor %}
    </div>

<div class="table-wrapper">
    <div class="container-fluid pt-4 px-4">
        <a href="{% url 'productadd' %}" class="btn btn-sm btn-warning mt-3 mb-2"><img class="me-2" src="{% static 'images/plus.png' %}" alt="plus-image" style="height:25px;">Add New Product</a>
        <div class="bg-light text-center rounded p-4">
            <div>
                
            </div>

            <div class="table-responsive">
                <table class="table text-start align-middle table-bordered table-hover mb-0">
                    <thead>
                        <tr class="text-dark">
                            <th scope="col">Product Name</th>
                            <th scope="col">Product Image</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Condition</th>
                            <th scope="col">Price</th>
                            <th class="text-center" scope="col">On Offer</th>
                            <th scope="col">Offer Price</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in products %}
                        <tr>
                            <td>                
                                {% if item.series %} 
                                <strong><p>{{item.product_name}} {{item.generation}} {{item.series}}</p></strong>
                                {% else %}
                                <strong><p>{{item.product_name}} {{item.generation}}</p></strong>
                                {% endif %}

                                <p><span>Internal Memory</span>: {{item.ram}} gb</p>
                                <p><span>Internal Storage</span>: {{item.internal_storage}} gb</p>    

                            </td>
                            <td >
                                {% if item.main_image %}
                                    <img src="{{item.main_image.url}}" alt="item-image" style="height:100px;" id="product-image-owner">
                                {% else %} 
                                    {{"No Image"}}
                                {% endif %}            
                            </td>
                            <td>{{item.quantity}}</td>
                            <td>{{item.condition}}</td>
                            <td>{{item.price}}</td>
                            
                            {% if item.product_offer > 0 %}
                            <td>Product Offer Applied {{item.product_offer}}%</td>
                            {% elif item.product_type.offer_percentage > 0 %}    
                            <td>Category Offer Applied {{item.product_type.offer_percentage}}%</td>
                            {% else %}
                            <td>No Offers</td>
                            {% endif %}
                            <td>₹{{item.price_after_offer}}</td>
                            <td>
                                <a href="{% url 'producteditor' item.product_id %}" class="pe-2" style="height:25px; position: relative; bottom: 8px;">
                                    <img src="{% static 'images/edit.png' %}" alt="editbutton" style="height:25px;">
                                </a>
                                <input type="image" src="{% static 'images/delete.png' %}" onclick="deleteProduct(passID='{{item.product_id}}')" id="deleteproduct-btn" style="height:25px;">
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>



</div>
</div>


{% endblock %}