{% extends 'owner/base.html' %} 

{% block title %}Edit Product Type{% endblock %} 


{% block content %}  
{% load static %} 

<div class="main">
    
    <div class="page-title text-center mb-3">
        <h5>Edit Product Types</h5>
    </div>
    
    <div class="message-wrapper text-center mb-2">
        {% for message in messages %}  
            {{message}}
        {% endfor %}
    </div>

    <div>
        <form enctype="multipart/form-data" action="#" method="POST">
            {% csrf_token %}
            {{form}} 
            <input type="submit" value="Update">
        </form>

    </div>





</div>




{% endblock %}