{% extends 'owner/base.html' %}

{% block title %}Product Type List{% endblock %}  


{% block content %}  
{% load static %} 

<div class="main">

    <div class="page-title text-center mb-3">
        <h5>List of Product Types</h5>
    </div>
    
    <div class="message-wrapper text-center mb-2">
        {% for message in messages %}  
            {{message}}
        {% endfor %}
    </div>

    <div class="add-category">
        
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Add New Product Type
            </button>
            <ul class="dropdown-menu">
              <li>
                <form enctype="multipart/form-data" action="#" method="POST">
                    {% csrf_token %}
                    {{form}}
                    <input class="btn btn-sm btn-success" type="submit" value="Add">
                </form>
                    

              </li>
            </ul>
          </div>

    </div>
    
<table class="table">
    <div class="table-buttons d-flex justify-content-between mt-1 mb-3">
        
        <div class="button-right">
            <a href="" onclick="window.location.reload()"><img src="{% static 'images/refresh.png' %}" alt="refresh button" style="height:16px;"></a>
        </div>
    </div>

    <tr>
        <th>Product Type Image</th>
        <th>Product Type</th>
        <th>Actions</th>
    </tr>

    {% for item in product_type %}

        <tr>
           <td>
            {% if item.product_type_image %} 
            <img src="{{item.product_type_image.url}}" style="height:100px;" alt="product-type-image">
            {% else %}
                {{'No Image'}}
            {% endif %}
        </td>
           <td>{{item.product_type}}</td>
           <td>
            <div class="mb-2">
                <a href="{% url 'product-type-edit' item.sub_cat_id %}">
                    <img src="{% static 'images/edit.png' %}" alt="editbutton" style="height:25px;">
                </a>    
            </div>
                            
            <input type="image" src="{% static 'images/delete.png' %}" onclick="deleteProductType()" id="deleteproducttype-btn"
            data-url="{% url 'product-type-delete' item.sub_cat_id %}" style="height:25px;">
           </td> 
        </tr>

    {% endfor %}


</table>

<script>
    
function deleteProductType(){

let confirmAction = confirm("Are you sure you want to delete this product type? ");
if(confirmAction){
    console.log("Inside confirm");
    let url = $("#deleteproducttype-btn").attr("data-url");
    window.location = url;
}
else{
    console.log("Do nothing!");
}

}

</script>


{% endblock %}