{% extends 'home/base.html' %}

{% block title %}ipocket store{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">


    <!-- Start Banner Hero -->
    <div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="{% static 'images/home/banner-01.jpg' %}" alt="banner-01">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left align-self-center">
                                <h1 class="h1 text-dark"><b>Welcome to ipocket</b> Store</h1>
                                <h3 class="h2">We feature a collection of apple products which you can buy without burning a hole in your pocket.</h3>
                                <p>
                                    Do they have this bitten apple?
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
            {% if banner_count != 0 %}
            {% for item in banner %}
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="{{item.banner_image.url}}" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="h1">{{item.banner_head}}</h1>
                                <a class="h2">{{item.banner_link}}</a>
                                <!--<p>

                                </p>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
            <i class="fas fa-chevron-left"></i>
        </a>
        <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>
    <!-- End Banner Hero -->


    <!-- Start Categories of The Month -->
    <section class="container py-5">
        <div class="row text-center pt-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h2">Categories</h1>
                <!--<p>
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.
                </p>--->
            </div>
        </div>
        <div class="row">
            {% for item in subcat %}
            <div class="col-12 col-md-4 p-5 mt-3">
                {% if item.product_type_image %}
                <a href="#"><img src="{{item.product_type_image.url}}" class="rounded-circle img-fluid border" style="height:115px; width: 110px; position:relative; left:85px; " alt="category-image"></a>
                {% else %}
                <a href="#">None</a>
                <h5 class="text-center mt-3 mb-3">{{item.product_type}}</h5>
                <p class="text-center"><a class="btn btn-dark" href="{% url 'product-type-filter' item.sub_cat_id %}">Go Shop</a></p>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </section>
    <!-- End Categories of The Month -->


    <!-- Start Featured Product -->
    <section class="bg-light">
        <div class="container py-5">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h2">Featured Product</h1>
                </div>
            </div>
            <div class="row">
                
            </div>
            </div>
        </div>
    </section>
    <!-- End Featured Product -->

<script>

    
$( function() {


var availableTags = [
  "ActionScript",
  "AppleScript",
  "Asp",
  "BASIC",
  "C",
  "C++",
  "Clojure",
  "COBOL",
  "ColdFusion",
  "Erlang",
  "Fortran",
  "Groovy",
  "Haskell",
  "Java",
  "JavaScript",
  "Lisp",
  "Perl",
  "PHP",
  "Python",
  "Ruby",
  "Scala",
  "Scheme"
];
$( ".searchhere" ).autocomplete({
  source: availableTags
});
} );


</script>
<script src="{% static 'js/home/custom.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

{% endblock %}
    