{% extends 'home/base.html'  %}

{% block title %}Products{% endblock  %}   


{% block content  %}

        <div class="container">
            <div class="row ">

                    {% for item in product %}

                    <div class="col">
                        
                    <div class="card" style="width: 12rem;">
                        <div class="text-center">
                            <img src="{{item.images.url}}" class="card-img-top" alt="product image" style="height:100px; width:100px;">
                        </div>
                        <hr>
                        <div class="card-body text-center" style="height:180px;">    
                            {% if item.generation %}
                             <h6>{{item.product_name}} {{item.generation}} {{item.series}}</h6>
                            {% else %}
                            <h6>{{item.product_name}} {{item.series}}</h6>
                            {% endif %}
                        <p class="card-text">{{item.color}} {{item.internal_storage}}</p>
                        <strong><p class="card-subtext" style="font-size:13px;">₹ {{item.price}}</p></strong>
                        <a href="{% url 'itempage' item.product_id %}" class="btn btn-sm btn-primary">Buy Now</a>
                        </div>
                    </div>

                    </div>

                {% endfor %}

                    </div>
        </div>


{% endblock %}