{% extends 'home/base.html' %}

{% block title %}Product Description{% endblock %}


{% block content %}
    {% load static %}

    <div class="main d-flex">

        {% for item in product %}
            
        <div class="card">
            <div class="text-center" id="img-container">
                    <div id="lens"></div>
                    <img id="featured" src="{{item.images.url}}" class="card-img-top" alt="product image">
                    <img src="{% static 'images/wishlist.png' %}" alt="wishlist" id="wishlist">
            </div>
        </div>

        <div class="ms-5 ps-5">
            <h4>{{item.product_name}}-{{item.generation}}-{{item.series}}-{{item.color}}-{{item.internal_storage}}</h4>
            <h6>{{item.condition}}</h6>
            <p>₹ {{item.price}}</p>
        </div>



        {% endfor %}
        
    </div>

    <script src="{% static 'js/owner/script.js' %}"></script>
{% endblock %}
