{% extends 'home/base.html' %}

{% block title %}Shop Products{% endblock%}


{% block content %}
{% load static %}

<!-- Start Content -->
<div class="container py-5">
    <div class="row">

        <div class="col-lg-3">
            <h4 class="h4 pt-5 pb-4">Filter By:</h4>
            <ul class="list-unstyled templatemo-accordion">
                <form action="" method="POST">
                    {% csrf_token %}
                <li>
                    <h5 class="p-1 border-bottom">Condition</h5>
                    <div class="pb-4">
                        <ul>
                            {% for item in category %}
                            <li style="list-style:none;">
                                <input type="checkbox" name="condition" value="{{item.condition}}">
                                <label for="condition"><h6>{{item.condition}}</h6></label>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
                <li>
                    <h5 class="p-1 border-bottom">Product Type</h5>
                    <div>
                        <ul>
                            {% for item in subCategory %}
                            <li style="list-style:none;">
                                <input type="checkbox" name="productType" value="{{item.product_type}}">
                                <label for="productType">{{item.product_type}}</label>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
            </ul>
            <div class="ps-4">
                <input type="submit" class="btn btn-sm btn-dark" value="Apply Filters">
            </div>
        </div>
        </form>

        <div class="col-lg-9">            
            <div class="messages">
                {% for message in messages %} 
                <div class="alert alert-warning" role="alert">
                    {{message}}
                  </div>
                {% endfor %}
             </div>   

            <div class="row">
                <div class="col-md-6">
                    <ul class="list-inline shop-top-menu pb-3 pt-1">
                        <li class="list-inline-item">
                            <a class="h3 text-dark text-decoration-none mr-3" href="{% url 'productspage'%}">All
                                Products</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 pb-4">
                    <div class="d-flex">
                        <select class="form-control">
                            <option>Relevance</option>
                            <option>Popularity</option>
                            <option><a href="{% url 'product-sortybyprice-ascending' %}">Price : Low to High</a>
                            </option>
                            <option>Price : High to Low</option>
                            <option>Newest First</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                {% for item in product %}
                <div class="col-md-4">
                    <input type="hidden" name="id" value="{{item.product_id}}">
                    <div class="card mb-4 product-wap rounded-0">
                        <div class="card rounded-0">
                            {% if item.main_image %}
                            <img class="card-img rounded-0 img-fluid" src="{{item.main_image.url}}"
                                style="width:260px;">
                            {% if item.price_after_offer > 0 or item.product_type.offer_percentage > 0 %}    
                            <img src="{% static 'images/special-tag.png' %}" alt="special-tag" style="height:50px;width:50px; position:absolute; top:0px;right: 0px;">
                            {% endif %}    
                            {% else %}
                            {{'NO IMAGE'}}
                            {% endif %}
                            <div
                                class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                <ul class="list-unstyled">
                                    <li><a class="btn btn-success text-white" href="shop-single.html"><i
                                                class="far fa-heart"></i></a></li>
                                    <li><a class="btn btn-success text-white mt-2"
                                            href="{% url 'itempage' item.product_id %}"><i class="far fa-eye"></i></a>
                                    </li>
                                    <li><button class="btn btn-success text-white mt-2 btn-lg" onclick = "oneclickCart(proID = '{{item.product_id}}')" ><i
                                                class="fas fa-cart-plus"></i></button></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-body">
                            {% if item.generation == None %}
                            <a href="shop-single.html" class="h3 text-decoration-none">
                                {{item.product_name}} {{item.series}}
                            </a>
                            {% elif item.series == None %}
                            <a href="shop-single.html" class="h3 text-decoration-none">
                                {{item.product_name}} {{item.generation}}
                            </a>
                            {% else %}
                            <a href="shop-single.html" class="h3 text-decoration-none">
                                {{item.product_name}} {{item.generation}} {{item.series}}
                            </a>
                            {% endif %}
                            <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                                {% if item.internal_storage == None %}
                                <li>{{item.color}}</li>
                                {% else %}
                                <li>{{item.color}} {{item.internal_storage}}</li>
                                {% endif %}
                                <li class="pt-2">
                                    <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                                    <span
                                        class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                                    <span
                                        class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                                    <span
                                        class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                                    <span
                                        class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                                </li>
                            </ul>
                            <ul class="list-unstyled d-flex justify-content-center mb-1">
                                <li>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                </li>
                            </ul>
                            {% if item.price_after_offer > 0 or item.product_type.offer_percentage > 0 %}
                            <strike><p class="text-center mb-0">₹{{item.price}}.00/-</p></strike>
                            <p class="text-center text-success mb-0">₹{{item.price_after_offer}}/-</p>
                            {% else %}
                            <p class="text-center mb-0">₹{{item.price}}.00/-</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}

                <div class="row">
                    <ul class="pagination pagination-lg justify-content-end">
                        <li class="page-item disabled">
                            <a class="page-link active rounded-0 mr-3 shadow-sm border-top-0 border-left-0" href="#"
                                tabindex="-1">1</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark"
                                href="#">2</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link rounded-0 shadow-sm border-top-0 border-left-0 text-dark" href="#">3</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <!-- End Content -->
    </div>

{% block scripts %}
<script src="{% static 'js/home/custom.js' %}"></script>
<script type="text/javascript" src="https://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
<script>
    // the selector will match all input controls of type :checkbox
// and attach a click event handler 
$("input:checkbox").on('click', function() {
  // in the handler, 'this' refers to the box clicked on
  var $box = $(this);
  if ($box.is(":checked")) {
    // the name of the box is retrieved using the .attr() method
    // as it is assumed and expected to be immutable
    var group = "input:checkbox[name='" + $box.attr("name") + "']";
    // the checked state of the group/box on the other hand will change
    // and the current value is retrieved using .prop() method
    $(group).prop("checked", false);
    $box.prop("checked", true);
  } else {
    $box.prop("checked", false);
  }
});

function oneclickCart(proID){
    let product_id = proID 
    let product_qty = 1 

    
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    $.ajax({
        method: "POST",
        url: "{% url 'cart-add' %}",
        data: {
            'product_id':product_id,
            'product_qty':product_qty,
            csrfmiddlewaretoken:getCookie('csrftoken')
        },
        success: function (response) {
          alertify.success(response.status)  
        }
    });
}


</script>

{% endblock %}

{% endblock %}