{% extends 'home/base.html' %}
{% block title %} Product Description {% endblock %} 


{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/home/custom.css' %}">
    <!-- Open Content -->
    <section class="bg-light">
        <div class="container pb-5">
            <div class="row">
                {% for item in product %} 
                <div class="col-lg-5 mt-5">
                    <div class="card mb-3" id="img-container">
                        <div id="lens"></div>
                        {% if item.images|default_if_none:'#' %} 
                        <img class="card-img img-fluid" src="{{item.main_image.url}}" alt="Card image cap" id="product-detail">
                        {% endif %} 
                    </div>
                    <div class="row">
                        <!--Start Carousel Wrapper-->
                        <div id="multi-item-example" class="col-10 carousel slide carousel-multi-item" data-bs-ride="carousel">
                            <!--Start Slides-->
                            <div class="carousel-inner product-links-wap" role="listbox">

                                <!--First slide-->
                                <div class="carousel-item active">
                                    <div class="row">
                                        <div class="col-4">
                                            <a href="#">
                                                {% if item.main_image %}
                                                    <img class="card-img img-fluid" src="{{item.main_image.url}}" alt="Product Image 1">
                                                {% else %}
                                                    {{"No Image"}}    
                                                {% endif %}
                                            </a>
                                        </div>
                                        <div class="col-4">
                                            <a href="#">
                                                {% if item.second_image %}
                                                    <img class="card-img img-fluid" src="{{item.second_image.url}}" alt="Product Image 2">
                                                    {% else %}
                                                    {{"No Image"}}    
                                                {% endif %}
    
                                            </a>
                                        </div>
                                        <div class="col-4">
                                            <a href="#">
                                                {% if item.third_image %}
                                                    <img class="card-img img-fluid" src="{{item.third_image.url}}" alt="Product Image 2">
                                                    {% else %}
                                                    {{"No Image"}}    
                                                {% endif %}
                                            </a>
                                        </div>   
                                    </div>
                                </div>
                                <!--/.First slide-->
                            </div>
                            <!--End Slides-->
                        </div>
                        <!--End Carousel Wrapper-->
                        
                    </div>
                </div>
                <!-- col end -->
                <div class="col-lg-7 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="h2">{{item.product_name}} {{item.generation}} {{item.series}}</h1>
                            <p class="h3 py-2">₹{{item.price}}.00/-</p>
                            <p class="py-2">
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-secondary"></i>
                                <span class="list-inline-item text-dark">Rating 4.8 | 36 Comments</span>
                            </p>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <h6>Brand :</h6>
                                </li>
                                <li class="list-inline-item">
                                    <p><strong>{{item.brand}}</strong></p>
                                </li>
                            </ul>

                            <h6>Description:</h6>
                            <p>{{item.description}}</p>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <h6>Avaliable Color :</h6>
                                </li>
                                <li class="list-inline-item">
                                    <p class="text-dark"><strong>{{item.color}}</strong></p>
                                </li>
                            </ul>

                            <h6>Specification:</h6>
                            <ul class="list-unstyled pb-3">
                                <li>{{item.internal_storage}}</li>
                                <li>Amet, consectetur</li>
                                <li>Adipiscing elit,set</li>
                                <li>Duis aute irure</li>
                                <li>Ut enim ad minim</li>
                                <li>Dolore magna aliqua</li>
                                <li>Excepteur sint</li>
                            </ul>

                            <form action="" method="GET">
                                <input type="hidden" name="product-title" value="Activewear">
                                <div class="row">
                                    <div class="col-auto">
                                       <!--<ul class="list-inline pb-3">
                                            <li class="list-inline-item">Size :
                                                <input type="hidden" name="product-size" id="product-size" value="S">
                                            </li>
                                            <li class="list-inline-item"><span class="btn btn-success btn-size">S</span></li>
                                            <li class="list-inline-item"><span class="btn btn-success btn-size">M</span></li>
                                            <li class="list-inline-item"><span class="btn btn-success btn-size">L</span></li>
                                            <li class="list-inline-item"><span class="btn btn-success btn-size">XL</span></li>
                                        </ul>--->
                                    </div>
                                    <div class="col-auto">
                                        <ul class="list-inline pb-3">
                                            <li class="list-inline-item text-right">
                                                Quantity
                                                <input type="hidden" name="product-quanity" id="product-quanity" value="1">
                                            </li>
                                            <li class="list-inline-item"><span class="btn btn-dark" id="btn-minus">-</span></li>
                                            <li class="list-inline-item"><span class="badge bg-warning" id="var-value">1</span></li>
                                            <li class="list-inline-item"><span class="btn btn-dark" id="btn-plus">+</span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row pb-3">
                                    <div class="col d-grid">
                                        <button type="submit" class="btn btn-dark btn-lg" name="submit" value="buy">Buy</button>
                                    </div>
                                    <div class="col d-grid">
                                        <button type="submit" class="btn btn-dark btn-lg" name="submit" value="addtocard">Add To Cart</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Close Content -->

    <!-- Start Article -->
    <section class="py-5">
        <div class="container">
            <div class="row text-left p-2 pb-3">
                <h4>Related Products</h4>
            </div>
           
    </section>
    <!-- End Article -->
    {% endfor %} 


{% endblock %}