*{
margin : 0px;
padding : 0px;
box-sizing : border-box;

}

.sidebar {
    height: 100%;
    width: 200px;
    position:fixed;
    z-index: 1;
    left : 0;
    background-color : #212529;
    overflow-x : hidden;
    padding-top: 50px;

}

.sidebar ul{
    list-style:none;
}

.sidebar a{
    text-decoration : none;
    color: white;
}

.main {
  margin-left: 250px;
}

#usertable tr th{
    font-size : 18px;
}

