*{
margin : 0px;
padding : 0px;
box-sizing : border-box;

}

.sidebar {
    height: 100%;
    width: 200px;
    position:fixed;
    z-index: 1;
    left : 0;
    background-color : #212529;
    overflow-x : hidden;
    padding-top: 50px;

}

.sidebar ul{
    list-style:none;
}

.sidebar  a{
    text-decoration : none;
    color: white;
}

.sidebar ul li a:active{
    color: pink;
}

.main {
  margin:0px 250px;
}

#usertable tr th{
    font-size : 18px;
}

.ownerlog {
    margin:100px auto;
    width : 350px;
    height : 350px;
    border: 2px solid black;
    border-radius : 15px;
    color: white;
    background: black;
}

.messages{
color : white;
}

#wishlist {

    position:relative;
    top: 75px;
    width: 24px;
    height: 24px;

}

#signin {
    display: block;
    margin: 0px auto;
    margin:100px auto;
    width : 350px;
    height : 350px;
    border: 2px solid black;
    border-radius : 15px;
    color: white;
    background: black;
}

#signup{
    display: block;
    margin: 0px auto;
    margin:100px auto;
    width : 700px;
    height : 300px;
    border: 2px solid black;
    border-radius : 15px;
    color: white;
    background: black;
}

